<div class="parent-container">
  <div class="container tab-bar-offset">
    <div class="grid-container">
      <mat-card>
        <mat-card-content><b>Order Details</b></mat-card-content>

        <mat-card-content>
          <form [formGroup]="orderDetailsForm" class="order-form">
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Supplier Name</mat-label>
              <input [matAutocomplete]="auto" formControlName="supplier" matInput type="text">
              <mat-autocomplete #auto="matAutocomplete" [displayWith]="supplierDisplayFn">
                <mat-option *ngFor="let option of supplierFilteredOptions | async" [value]="option">
                  {{option.name}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>

            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Location</mat-label>
              <mat-select formControlName="location">
                <mat-option>--</mat-option>
                <mat-option *ngFor="let location of locations" [value]="location">
                  {{location}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="locationControl.hasError('required')">Please choose a location</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Supplier Invoice Number</mat-label>
              <input formControlName="supplierInvoice" matInput type="number"/>
              <mat-error *ngIf="supplierInvoice.hasError('required')">Please enter a valid supplier invoice code
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Notes</mat-label>
              <textarea formControlName="notes" id="notes" matInput maxlength="200"></textarea>
              <mat-error *ngIf="orderNotes.hasError('required')">Please enter a valid supplier invoice code
              </mat-error>
            </mat-form-field>
            <mat-label id="limit">{{orderNotes.getRawValue()?.length}}/200</mat-label>
          </form>
        </mat-card-content>
      </mat-card>

      <mat-card>
        <mat-card-content>
          <div class="card-header">
            <b>Products</b>
          </div>

          <div class="disclaimer">
            <mat-icon aria-hidden="false" aria-label="Info Icon" fontIcon="info"
                      inline></mat-icon>
            <mat-label class="disclaimer-info">
              Products Qty, the average product cost and the latest buying price are updated
              after
              completing the
              purchase order
            </mat-label>
          </div>
        </mat-card-content>

        <mat-card-content>
          <mat-form-field appearance="outline" class="full-width">
            <mat-label id="search-label">
              <mat-icon aria-hidden="false" aria-label="Search Icon" fontIcon="search" inline></mat-icon>
              Type Variant name or SKU
            </mat-label>
            <input [formControl]="productAutocompleteControl" [matAutocomplete]="auto2" matInput type="text">
            <mat-autocomplete #auto2="matAutocomplete" [displayWith]="productDisplayFn">
              <mat-option (click)="addProductToSelected(product)"
                          *ngFor="let product of productFilteredOptions | async; let i = index"
                          [value]="product">
                {{product.id}} - {{product.name}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </mat-card-content>

        <mat-card-content>
          <mat-card id="product-table">
            <div class="table-top">
              <div class="table-header table-item">
                <div class="heading">Product Name / SKU</div>
                <div class="heading">New QTY</div>
                <div class="heading">New Cost (Tax Exclusive)</div>
                <div class="heading">Tax Code</div>
              </div>
            </div>
            <ng-container *ngFor="let selectedProduct of selectedProducts">
              <div class="table-item">
                <mat-accordion>
                  <mat-expansion-panel (closed)="selectedProduct.visible = false"
                                       (opened)="selectedProduct.visible = true"
                                       hideToggle>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        {{selectedProduct.title}}
                      </mat-panel-title>
                      <mat-panel-title>
                        <mat-form-field (click)="preventExpanderOpening($event)" appearance="outline">
                          <mat-label>Quantity</mat-label>
                          <input (keyup)="recheckValidity(selectedProduct)"
                                 [(ngModel)]="selectedProduct.quantity" matInput min="1"
                                 type="number">
                        </mat-form-field>
                      </mat-panel-title>
                      <mat-panel-title>
                        <mat-form-field (click)="preventExpanderOpening($event)" appearance="outline">
                          <mat-label>New Cost</mat-label>
                          <input (click)="preventExpanderOpening($event)"
                                 (keyup)="recheckValidity(selectedProduct)"
                                 [(ngModel)]="selectedProduct.price"
                                 matInput min="1" type="number">
                        </mat-form-field>
                      </mat-panel-title>
                      <mat-panel-title>
                        <mat-form-field (click)="preventExpanderOpening($event)" appearance="outline">
                          <mat-label>Tax: none</mat-label>
                          <mat-select>
                            <mat-option (click)="addTax(selectedProduct)" [value]="selectedProduct.taxed">Value Added
                              Tax
                            </mat-option>
                            <mat-option (click)="removeTax(selectedProduct)" [value]="!selectedProduct.taxed">No
                              Tax
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <mat-icon (click)="deleteSelectedItem(selectedProduct, $event)" aria-hidden="false"
                                  aria-label="Info Icon"
                                  fontIcon="delete"
                                  id="delete-selected-product"></mat-icon>
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="costs-container">
                      <div class="cost">
                        <div>Expected Quantity</div>
                        <div>
                          <b>{{selectedProduct.quantity}}</b>
                        </div>
                      </div>
                      <div class="cost">
                        <div>
                          Total Cost (Tax Exclusive)
                        </div>
                        <div>
                          <b>{{selectedProduct.quantity * selectedProduct.price}}</b>
                        </div>
                      </div>
                      <div class="cost">
                        <div>
                          Tax Amount
                        </div>
                        <div>
                          <b>{{selectedProduct.taxed ? (selectedProduct.price * selectedProduct.quantity * taxRatio) : 0}}</b>
                        </div>
                      </div>
                      <div class="cost">
                        <div>
                          Total Cost (Tax Inclusive)
                        </div>
                        <div>
                          <b>{{(selectedProduct.quantity * selectedProduct.price) + (selectedProduct.taxed ? (selectedProduct.price * selectedProduct.quantity * taxRatio) : 0)}}</b>
                        </div>
                      </div>
                    </div>
                  </mat-expansion-panel>
                </mat-accordion>
              </div>
              <mat-divider></mat-divider>
            </ng-container>
            <div class="table-item">
              <mat-accordion>
                <mat-expansion-panel (closed)="totalPanelOpenState = false"
                                     (opened)="totalPanelOpenState = true"
                                     hideToggle>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      {{totalPanelOpenState ? 'Subtotal' : 'Total'}} &nbsp;&nbsp;
                      <b>{{totalPanelOpenState ? this.totalWithoutTax : this.totalWithTax}}</b>
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <div class="costs-container">
                    <div class="cost">
                      <div>
                        Total Tax: <b>+{{this.totalTax}}</b>
                      </div>
                    </div>
                    <div class="cost">
                      <div>
                        Total: <b>{{this.totalWithTax}}</b>
                      </div>
                    </div>
                  </div>
                </mat-expansion-panel>
              </mat-accordion>
            </div>
            <mat-divider></mat-divider>
            <mat-card-content>
              <mat-radio-group
                [(ngModel)]="paymentPlan"
                aria-labelledby="example-radio-group-label"
                class="example-radio-group">
                <mat-radio-button [value]="'prepaid'">
                  Pay Now
                </mat-radio-button>
                <mat-radio-button [value]="'postpaid'">
                  Pay Later
                </mat-radio-button>
              </mat-radio-group>
              <div>
                <br/>
                <ng-container *ngIf="paymentPlan === 'prepaid'">
                  <div class="prepaid-container">
                    <div class="payment">Payment Method</div>
                    <div class="payment">
                      <mat-form-field appearance="outline">
                        <mat-label>Choose an option</mat-label>
                        <mat-select [(ngModel)]="paymentMethod">
                          <mat-option value="cash">Cash</mat-option>
                          <mat-option disabled value="card">Credit Card</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="payment">
                      Paid Amount
                    </div>
                    <div class="payment">
                      <mat-form-field appearance="outline">
                        <mat-label>Amount</mat-label>
                        <input [(ngModel)]="debitAmount" matInput/>
                      </mat-form-field>
                    </div>
                    <div class="payment">
                      Credit Amount
                    </div>
                    <div class="payment">
                      <b class="credit">{{this.totalWithTax - this.debitAmount}}</b>
                    </div>
                    <div class="payment date">
                      Payment Due Date
                    </div>
                    <div class="payment date">
                      <mat-form-field appearance="outline">
                        <mat-label>Choose a date</mat-label>
                        <input [(ngModel)]="selectedDate" [matDatepicker]="picker" [min]="selectedDate" matInput>
                        <mat-hint>MM/DD/YYYY</mat-hint>
                        <mat-datepicker-toggle [for]="picker" matIconSuffix></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                      </mat-form-field>
                    </div>
                  </div>
                </ng-container>
                <ng-container *ngIf="paymentPlan === 'postpaid'">
                  <div class="prepaid-container">
                    <div class="payment">Credit Amount:</div>
                    <div class="credit"><b>{{this.totalWithTax}}</b></div>
                  </div>
                </ng-container>
                <br/>
              </div>
            </mat-card-content>
          </mat-card>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <mat-card id="submission-container">
    <button (click)="reloadPage()" class="flex-item" mat-flat-button>Cancel</button>
    <button class="flex-item" disabled id="draft" mat-flat-button>Save as Draft</button>
    <button (click)="submitOrder()" [disabled]="!orderDetailsForm.valid || !selectedProductsListIsValid()"
            class="flex-item" color="primary"
            id="submit-button" mat-flat-button>
      Complete Order
    </button>

  </mat-card>

</div>
