<div class="parent-container">
  <div class="container tab-bar-offset">
    <div class="grid-container">
      <mat-card>
        <mat-card-content><b>Order Details</b></mat-card-content>

        <mat-card-content>
          <form [formGroup]="orderDetailsForm" class="order-form">
            <mat-form-field class="full-width">
              <mat-label>Supplier Name</mat-label>
              <input [matAutocomplete]="auto" formControlName="supplier" matInput type="text">
              <mat-autocomplete #auto="matAutocomplete" [displayWith]="supplierDisplayFn">
                <mat-option *ngFor="let option of supplierFilteredOptions | async" [value]="option">
                  {{option.name}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>

            <mat-form-field class="full-width">
              <mat-label>Location</mat-label>
              <mat-select formControlName="location">
                <mat-option>--</mat-option>
                <mat-option *ngFor="let location of locations" [value]="location">
                  {{location}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="locationControl.hasError('required')">Please choose a location</mat-error>
            </mat-form-field>

            <mat-form-field class="full-width">
              <mat-label>Supplier Invoice Number</mat-label>
              <input formControlName="supplierInvoice" matInput type="number"/>
              <mat-error *ngIf="supplierInvoice.hasError('required')">Please enter a valid supplier invoice code
              </mat-error>
            </mat-form-field>

            <mat-form-field class="full-width">
              <mat-label>Notes</mat-label>
              <textarea formControlName="notes" id="notes" matInput maxlength="200"></textarea>
              <mat-error *ngIf="orderNotes.hasError('required')">Please enter a valid supplier invoice code
              </mat-error>
            </mat-form-field>
            <mat-label id="limit">{{orderNotes.getRawValue()?.length}}/200</mat-label>
          </form>
        </mat-card-content>
      </mat-card>

      <mat-card>

        <mat-card-content>
          <div class="card-header">
            <b>Products</b>
          </div>

          <div class="disclaimer">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="info"
                      inline></mat-icon>
            <mat-label class="disclaimer-info">
              Products Qty, the average product cost and the latest buying price are updated
              after
              completing the
              purchase order
            </mat-label>
          </div>

        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <mat-card id="submission-container">
    <!--    TODO RESET FOR WHEN CANCEL PRESSED-->
    <button class="flex-item" mat-flat-button>Cancel</button>
    <button class="flex-item" disabled id="draft" mat-flat-button>Save as Draft</button>
    <button [disabled]="!orderDetailsForm.valid" class="flex-item" color="primary" id="submit-button" mat-flat-button>
      Complete Order
    </button>

  </mat-card>

</div>
