@import "@angular/material/prebuilt-themes/indigo-pink.css";

/* You can add global styles to this file, and also import other style files */
html, body {
  padding: 0;
  margin: 0;
}

html {
  height: 100% !important;
}

:root {
  ---header-offset: 10rem;
}

.tab-bar-offset {
  margin-top: var(---header-offset);
}

.curved-border {
  border-radius: 0.5rem;
}
